html, body {
   width: 100%;
   height: 100%;
   background-color: white;
   display: flex;
   align-items: center; 
   justify-content: center;
}

.animation {
   /* taille max et bordure */
   width: 80%;
}

@media min-width:64rem
